.example-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    padding: 16px;
  }
  
  mat-list-item {
    cursor: pointer;
  }
  
  .active {
    background-color: #3a3939;
  }
  