<form [formGroup]="form" (ngSubmit)="save()">
  <label for="functionary">Seleccionar Funcionario</label>
  <select formControlName="idFunctionary">
    <option *ngFor="let f of functionaries" [value]="f.idFuncionary">
      {{ f.name }} {{ f.surnamefather }}
    </option>
  </select>

  <label>Adolescentes</label>
  <div *ngFor="let teen of teens">
    <input
      type="checkbox"
      (change)="addAdolescent(teen.idTeen)"
      [value]="teen.idTeen"
    />
    {{ teen.name }} {{ teen.surname }}
  </div>

  <button type="submit">Guardar</button>
</form>
